body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
}

.page {
  width: 1200px;
  margin: 0 auto;
}

nav {
  background: grey;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 150px;
  text-decoration: none;
}

h1 {
  margin: 30px 0;
  font-size: 40px;
  color: white;
}

h2 {
  margin: 0 0 15px 0;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.Business_Card1 img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 60px;
}

.portfolio_pic img {
  width: 70%;
  height: auto;
  display: block;
}

.about-section {
  margin-bottom: 80px;
}

.about-card {
  background: #A46D2F;
  border-radius: 30px;
  overflow: hidden;
}

.about-top {
 display: flex;
 align-items: stretch;
}

.about-image {
width: 58%  
}

.about-image img {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}

.about-text {
width: 42%;
padding: 60px 40px 30px 40px;
box-sizing: border-box;
color: white;
}

.about-text h2 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 30px;
  color: white;
}

.about-text p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

.toolkit-bar {
  background: #A46D2F;
  padding: 30px 30px 40px 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; 
}

.toolkit-bar h3 {
  color: white;
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 25px 0;
}

.toolkit-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.tool-box {
background: green;
color: yellow;
padding: 20px 24px;
min-width: 110px;
text-align: center;
font-size: 28px;
box-sizing: border-box;
}

.Business_Card2 img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.gallery-section {
  margin-bottom: 80px;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.gallery-section.right .section-content {
  flex-direction: row;
}

.gallery-section.left .section-content {
  flex-direction: row;
}

.art-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 560px;
  background: black;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.art-grid1 img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.text-box {
  width: 420px;
  color: white;
}

.text-box p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

/* LEFT sections = images left, text right */
.gallery-section.left .art-grid1 {
  order: 1;
}

.gallery-section.left .text-box {
  order: 2;
  text-align: left;
}

/* RIGHT sections = text left, images right */
.gallery-section.right .text-box {
  order: 1;
  text-align: left;
}

.gallery-section.right .art-grid1 {
  order: 2;
}
