body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.art-grid1 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

/* 4 photos of the landscapes */
.art-grid1 img {
 width: 100%;
 height: auto;
 display: block;
 
}

nav {
  background: black;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
